.logo {

    width: 45px;
    margin: -10px;
    margin-left: 5px;
}

nav .lista-produtos {

    list-style: none;
    display: flex;
    gap: 20px;

}

nav .lista-produtos li a {

    text-decoration: none;
    color: rgba(53, 0, 51, 1);
    text-transform: lowercase;
    font-size: 14px;
    font-weight: bold;

}

.botao-login {

    text-decoration: none;
    border: 1px solid rgba(53, 0, 51, 1);
    padding: 5px 10px;
    border-radius: 5px;
    color: rgba(53, 0, 51, 1);
    margin-top: -5px;
}

.botao-logar {

    height: 70px;

}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.cabecalho {
    font-size: 48px;
    font-weight: bold;
    color: rgba(53, 0, 51, 1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #40023c;
}

.login-container form {
    width: 20x;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    background-color: #40023c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #30022c;
}

.login-container p {
    margin-top: 15px;
    font-size: 14px;
}

.login-container a.cadastro {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    color: #40023c;
    text-decoration: none;
}

.endereco-email {

    margin-right: 68%;
    display: inline-block;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 5px;

}

.senha {

    margin-right: 88%;
    display: inline-block;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 5px;

}