header {
  background-image: linear-gradient(
      to right,
      rgba(128, 0, 128, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 0, 128, 0.08) 1px, transparent 1px);
  background-size: 10px 10px;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo {
  width: 45px;
  margin: -10px;
  margin-left: 5px;
  text-shadow: 0px 5px 5px #585858;
}

nav .lista-produtos {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav .lista-produtos li a {
  text-decoration: none;
  color: rgba(53, 0, 51, 1);
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
}

.botao-logout,
.botao-logout:link,
.botao-logout:visited,
.botao-logout:hover,
.botao-logout:active {
  color: red;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.cabecalho {
  font-size: 48px;
  font-weight: bold;
  color: rgba(53, 0, 51, 1);
  text-shadow: 0px 5px 5px #585858;
}

.editar-container {
  width: 700px;
  margin: 50px auto;
  background: rgba(247, 247, 247, 1);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.titulo-imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.titulo-imagens h2 {
  color: #4b254b;
  font-weight: bold;
  margin: 0;
}

.titulo-imagens img {
  width: 200px;
  height: auto;
}

.notas-musicais {
  transform: rotate(15deg);
}

.notas-musicais-dois {
  transform: rotate(-15deg);
}

.form-editar,
.form-banner {
  display: inline-flex;
  width: 500px;
  flex-direction: column;
  gap: 15px;
}

.form-editar label,
.form-banner label {
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-editar input,
.form-banner input,
.form-editar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.botao {
  margin-top: 10px;
  background-color: rgba(53, 0, 51, 1);
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  padding: 12px 24px;
  border-radius: 6px;
  width: 500px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.botao:hover {
  background-color: #7c3ea3;
}

.img-preview img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.botao-voltar {
  display: inline-block;
  margin-top: 20px;
  background-color: rgb(180, 180, 180);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
}

.imagem1,
.imagem2 {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.imagem1 img,
.imagem2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.invertida {
  flex-direction: row-reverse;
}
