header {
  background: rgba(233, 195, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-size: 10px 10px;
}

.logo {
  width: 45px;
  margin: -10px;
  margin-left: 5px;
  text-shadow: 0px 5px 5px #585858;
}

/* menu e submenu */
/* menu principal*/
nav .menu-principal {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 0;
}

nav .menu-principal > li > a {
  text-decoration: none;
  color: rgba(53, 0, 51, 1);
  font-size: 15px;
  font-weight: bold;
  text-transform: lowercase;
  padding: 5px 0;
  display: inline-block;
}

.botao-logar {
  height: 80px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

.cabecalho {
  font-size: 48px;
  font-weight: bold;
  color: rgba(53, 0, 51, 1);
  text-shadow: 0px 5px 5px #585858;
}

/* dropdown */
.dropdown {
  position: relative;
}

.submenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  padding: 10px 0;
  list-style: none;
  min-width: 150px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease-in-out;
  z-index: 50;
}

.submenu li {
  padding: 5px 15px;
}

.submenu li a {
  color: rgba(53, 0, 51, 1);
  text-decoration: none;
  font-size: 14px;
}

.submenu li a:hover {
  color: rgb(156, 0, 146);
}

.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.lista-produtos {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

.has-submenu {
  position: relative;
}

.submenu {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 160px;
  padding: 10px 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-4px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;

  pointer-events: none;
}

.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.submenu li a {
  display: block;
  padding: 6px 12px;
  color: black;
}

.has-submenu.open .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown {
  position: relative;
}

.dropdown > a {
  display: inline-block;
  padding-bottom: 8px;
}

.submenu {
  margin-top: 0;
}

.dropdown:hover > a {
  color: rgb(156, 0, 146);
}

.botao-logout,
.botao-logout:link,
.botao-logout:visited,
.botao-logout:hover,
.botao-logout:active {
  color: red;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
}

.botao-login {
  text-decoration: none;
  border: 2px solid rgba(53, 0, 51, 1);
  padding: 20px;
  border-radius: 5px;
  color: rgba(53, 0, 51, 1);
  margin-top: 0px;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav .lista-produtos {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav .lista-produtos li a {
  text-decoration: none;
  color: rgba(53, 0, 51, 1);
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.banner {
  background: url("../img/fundoinicial.jpg") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner .overlay {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1rem;
}

.produtos {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 120px;
  justify-content: center;
  align-items: center;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.linha.invertida {
  flex-direction: row-reverse;
}

.texto1 {
  max-width: 1000px;
  text-align: left;
}

.texto1 h2 {
  font-size: 40px;
  margin-bottom: 5px;
  color: #000;
}

.texto1 p {
  color: #555;
  margin-bottom: 15px;
}

.botao1 {
  background-color: #4b004b;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
}

.botao1:hover {
  background-color: #650065;
}

.texto2 {
  max-width: 300px;
  text-align: left;
}

.texto2 h2 {
  font-size: 40px;
  margin-bottom: 5px;
  color: #000;
}

.texto2 p {
  color: #555;
  margin-bottom: 15px;
}

/* SLOT 1 */
.produto .imagem1,
.produto .imagem2 {
  border: 2px solid black;
  padding: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* IMAGENS DOS SLOTS (igual para os dois) */
.imagem1 img,
.imagem2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.botao2 {
  background-color: #4b004b;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
}

.botao2:hover {
  background-color: #650065;
}

.editar {
  background-color: #e0ae22;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  display: inline-block;
}

.editar:hover {
  background-color: #e0ae22;
}
