header {
  background-image: linear-gradient(to right,
      rgba(128, 0, 128, 0.08) 1px,
      transparent 1px),
    linear-gradient(to bottom, rgba(128, 0, 128, 0.08) 1px, transparent 1px);
  background-size: 10px 10px;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo {
  width: 45px;
  margin: -10px;
  margin-left: 5px;
  text-shadow: 0px 5px 5px #585858;
}

nav .lista-produtos {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav .lista-produtos li a {
  text-decoration: none;
  color: rgba(53, 0, 51, 1);
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
}

.botao-logout,
.botao-logout:link,
.botao-logout:visited,
.botao-logout:hover,
.botao-logout:active {
  color: red;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
}

.botao-logar {
  height: 70px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.cabecalho {
  font-size: 48px;
  font-weight: bold;
  color: rgba(53, 0, 51, 1);
  text-shadow: 0px 5px 5px #585858;
}

main h2 {
  color: rgba(53, 0, 51, 1);
  margin-bottom: 40px;
  font-size: 1.8rem;
}

.produtos-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.produtos-container a:hover {
  opacity: 0.9;
}

.produto-card {
  background: #fff;
  padding: 20px;
  width: 330px;
  text-align: left;
  transition: transform 0.2s;
  justify-content: space-between;
  flex-direction: column;
}

.produto-card:hover {
  transform: translateY(-5px);
}

.produto-card img {
  display: block;
  margin: 0 auto 10px auto;
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.produto-card h3 {
  font-size: 1rem;
  margin: 10px 0 5px;
  justify-content: left;
}

.produto-card p {
  font-size: 0.9rem;
  color: #666;
}

.produto-card span {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  color: #000;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.produto-card button {
  width: 150px;
  height: 35px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.bteditar {
  display: flex;
  background-color: rgba(224, 174, 34, 1);
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  width: 100px;
  height: 10px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.btremover {
  display: flex;
  background-color: rgba(248, 30, 30, 1);
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  width: 100px;
  height: 10px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.btcadastrar {
  background-color: rgba(53, 0, 51, 1);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 12px 30px;
  width: 30%;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0 50px;
}

.produto-card .preco {
  color: #000;
}

main {
  text-align: center;
  padding: 40px 80px;
  min-height: 80vh;
}

.topo {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-com-linhas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.titulo-com-linhas .linha {
  flex: 1;
  height: 2px;
  background-color: #40023c;
}

.titulo-com-linhas h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.swal2-icon.swal2-warning {
  border-color: #40023c;
  color: #40023c;
}

.swal2-icon.swal2-success {
  border-color: #40023c;
}

.swal2-icon.swal2-success .swal2-success-circular-line-left,
.swal2-icon.swal2-success .swal2-success-circular-line-right,
.swal2-icon.swal2-success .swal2-success-fix {
  background-color: #40023c;
  border-color: #40023c;
}