header {
  background-image: linear-gradient(
      to right,
      rgba(128, 0, 128, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 0, 128, 0.08) 1px, transparent 1px);
  background-size: 10px 10px;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo {
  width: 45px;
  margin: -10px;
  margin-left: 5px;
  text-shadow: 0px 5px 5px #585858;
}

nav .lista-produtos {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav .lista-produtos li a {
  text-decoration: none;
  color: rgba(53, 0, 51, 1);
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
}

.botao-login {
  text-decoration: none;
  border: 1px solid rgba(53, 0, 51, 1);
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(53, 0, 51, 1);
  margin-top: -5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.cabecalho {
  font-size: 48px;
  font-weight: bold;
  color: rgba(53, 0, 51, 1);
  text-shadow: 0px 5px 5px #585858;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.container-form,
form,
.titulo-com-linhas,
.cadastre {
  width: 400px;
  max-width: 100%;
}

.login-container {
  width: 200%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: rgba(53, 0, 51, 1);
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container p {
  margin-top: 15px;
  font-size: 14px;
}
.botao-logar {
  margin-top: 20px;
  background-color: rgba(53, 0, 51, 1);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  padding: 20px 24px;
  border-radius: 6px;
  width: auto;
  height: 50px;
  color: white;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.botao-logar:hover {
  background-color: #7c3ea3;
}

.cadastro, .link-adm{
  text-decoration: none;
  color: #7c3ea3;
  font-weight: bold;
  font-size: 15px;
}

.link-adm{
  text-decoration: underline;
  position: absolute;
  right: 850px;
  font-size: 20px;
}

.endereco-email {
  margin-right: 68%;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 5px;
}

.senha {
  margin-right: 88%;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 5px;
}

.titulo-com-linhas {
  display: flex;
  align-items: center;
  padding: 0px 0px 20px 0px;
  width: 400px;
  max-width: 100%;
}

.titulo-com-linhas .linha {
  height: 2px;
  background-color: #40023c;
  width: 400px;
  max-width: 100%;
}

.titulo-com-linhas h2 {
  margin: 0 15px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 400px;
  max-width: 100%;
}

.botao-sair,
.botao-sair:link,
.botao-sair:visited,
.botao-sair:hover,
.botao-sair:active {
  margin-top: 45px;
  color: red;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 975px;
  font-size: 20px;
}


