header {
    background-image: linear-gradient(to right,
            rgba(128, 0, 128, 0.08) 1px,
            transparent 1px),
        linear-gradient(to bottom, rgba(128, 0, 128, 0.08) 1px, transparent 1px);
    background-size: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    top: 0;
    z-index: 999;
    width: 95%;
    text-align: center;
}

.logo {
    width: 45px;
    margin: -10px;
    margin-left: 5px;
    text-shadow: 0px 5px 5px #585858;
}

.cabecalho {
    font-size: 48px;
    font-weight: bold;
    color: rgba(53, 0, 51, 1);
    text-shadow: 0px 5px 5px #585858;
}

/* ===========================
   MENU PRINCIPAL
=========================== */
nav .menu-principal {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav .menu-principal>li>a {
    text-decoration: none;
    color: rgba(53, 0, 51, 1);
    font-size: 15px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 5px 0;
    display: inline-block;
}

.botao-logar {
    height: 70px;
}

/* ===========================
   BASE
=========================== */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;

    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 160px;

    padding: 10px 0;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    opacity: 0;
    visibility: hidden;
    transform: translateY(6px);
    transition: all 0.25s ease;
    pointer-events: none;
    z-index: 50;
}

.dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
}

.submenu li a {
    display: block;
    padding: 6px 12px;
    color: rgba(53, 0, 51, 1);
    text-decoration: none;
    font-size: 14px;
}

.submenu li a:hover {
    color: rgb(156, 0, 146);
    background: #f5e2ff;
}

/* ===========================
   BOTÃO LOGOUT
=========================== */
.botao-logout,
.botao-logout:link,
.botao-logout:visited,
.botao-logout:hover,
.botao-logout:active {
    color: red;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
    padding: 4px;
}

.dropdown {
    position: relative;
}

.dropdown>a {
    display: inline-block;
    padding-bottom: 8px;
    color: rgba(53, 0, 51, 1);
}

.dropdown>a:hover {
    color: rgb(156, 0, 146);
}

/* ---------- TÍTULO ---------- */
.title {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    letter-spacing: 1px;
}

/* ---------- CONTATOS ---------- */
.contact-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon {
    width: 65px;
    height: 65px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.icon-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    display: block;
}

.telefone {
    margin-right: 15px;
    width: 70px;
    height: 70px;
}


.instagram {
    margin-right: 85px;
    width: 80px;
    height: 80px;
}


.contact-text {
    font-size: 20px;
    font-weight: 500;
}

/* ---------- SAC ---------- */
.sac {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 80px;
}

.sac-icon {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.sac h2 {
    margin: 5px 0;
    font-size: 20px;
}

.sac p {
    font-size: 14px;
    color: #444;
}